nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #157994;
  color: #FFF;
}

.nav-links {
  position: relative;
  display: inline-block;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}